@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@mixin InterFonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
@mixin default_values {
  @include InterFonts;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  transition: 0.1s;
}
* {
  @include default_values;
}
.chatCircleHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  min-height: 75vh;
  padding: 50px;
  text-align: center;
}
.pulsatingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: grey;
  border-radius: 100%;
  p{
    user-select: none;
  }
  &.connected {
    p {
      display: none;
    }
    background: linear-gradient(to top, orange, #ffb347);
  }
  &.connecting {
    p {
      display: none;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      transform: scale(.9);
      border-color: 100%;
      border: 2px solid grey;
      animation: connectingAnim 2s ease-in-out infinite;
    }
    &::before {
        animation-delay: .5s;
    }
    @keyframes connectingAnim {
      100% {
        transform: scale(1.3);
        opacity: 0;
      }
      // 100%{
      //     transform: scale(1);
      // }
    }
  }
  p {
    color: white;
  }
  audio {
    opacity: 0;
    position: absolute;
  }
}
button {
  display: block;
  min-height: 35px;
  text-align: center;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}
