<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/jquery.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.js"></script>
    <title>Black box voice chat</title>
</head>

<body>
    <svg id="linesLayer"></svg>
    <div class="chatCircleHolder">
        <div id="circle" class="pulsatingBox">
            <audio id="audioSrc" src=""></audio>
            <p>Tap to connect</p>
        </div>
        <h2 id="status">Ready to connect.</h2>
    </div>
</body>
<script src="scripts/app.js" type="module"></script>
</html>